/* body{
    background-image: linear-gradient(from top to bottom right,black,black,white);
} */
.b1{
    background-color: black;
}
.navi{
    position: fixed;
    border-color: black;
}

.logo{
    width: 25%;
}
.icon2{
    list-style: none;
}
.icon-class{
    display: flex;
    justify-content: space-between;
}
.banner-bdy{
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.banner-img{
    margin-left: 250px;
}
.bimg{
    width: 120%;

}
.banner-head{
    margin-top: 120px;
    margin-left: 100px;
    font-size: 70px;
    /* font-family: 'Oi', serif; */
    font-family: 'Kavoon', serif;

}
.bdy{
    margin-top: 20px;
    margin-left: 100px;
    text-align: justify;
    font-family: 'Exo 2', sans-serif;

}
.bcard{
    margin-left: 15px;
    margin-bottom: 100px;
}
/* .im1{
    height: 100%;
} */
.im2{
    /* height: 200px; */
    height: 99%;
}
.card5{
    width: 100%;
    align-items: start;
}
.c1,.c2,.c3,.c4{
    background-color: rgb(255, 255, 2);
}
.c1{
    padding-bottom: 2px;
}
.n2{
    color: white;
}
#srch:hover{
    color: red;
}
#user2:hover{
    color: red;
}
#cart2:hover{
    color: red;
}
.sbox{
    margin-left: -30px;
    margin-top: -10px;
    border-radius: 20px;
}
.c1:hover{
    border-color: red;
    /* transform: scale(1.1); */
    transition: 1s;
    margin-top: -20px;

}
.c2:hover{
    border-color: red;
    transform: scale(1.1);
    transition: 1s;

}
.c3:hover{
    border-color: red;
    /* transform: scale(1.1); */
    transition: 1s;
    margin-top: -20px;
}
.c4:hover{
    border-color: red;
    /* transform: scale(1.1); */
    transition: 1s;
    margin-top: -20px;
}
.o1,.o2,.o3,.o4{
    margin-top: 10px;

}
.bt1{
    border-radius: 100px;
    margin-left: 75%;
}
.blank{
    width: 100%;
    height: 100px;
}
.phnimg{
    margin-top: -160px;
}
.content{
    margin-top: 150px;
    
}
.brown{
    color: rgb(149, 31, 31);
    font-family: 'Righteous', sans-serif;
        /* font-family: 'Smooch', cursive; */
}
.caption{
    font-size: 10px;
}
.appstore{
    font-size: 15px;
    margin-left: 5px;
}
.phnimg:hover{
    transition: 1s;
    margin-left: -30px;
}
.apstore:hover{
    box-shadow: 100px;
}
.footicon{
    width: 100%;
    height: 60px;
    background-color: white;
    bottom: 0;
    position: fixed;
}
.i1,.i2,.i3,.i4{
    margin-top: 25px;
    color: black;
}
.user{
    margin-right: 5px;
}
.home{
    margin-left: 10px;
}
#cart{
    margin-left: -10px;
}
#user{
    margin-left: -10px;
}
.p1{
    margin-top: 5px;
    font-size: 12px;
}
.copyright{
    background-color: brown;
    margin-top: -16px;
    font-family: 'Concert One', sans-serif;
}
.icon-container{
    align-content: center;
    background-color: rgb(228, 200, 188);
    margin-top: -17px;
    font-family: 'Dancing Script', cursive;
}
.icon-container2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}
.icon{
    width: 50px;
    height: 50px;
    /* border: solid 1px; */
    border-radius: 50%;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon:hover{
    background-image: linear-gradient(to left,yellow,orange);    
}
.brand{
    font-size: 30px;
    color: black;
}
.icon:hover .brand{
    color: white;
    animation: move 1s;
}
@keyframes move {
    0%{
        transform: rotate(25deg);
    }
    25%{
        transform: rotate(-25deg);
    }
    50%{
        transform: rotate(25deg);
    }
    75%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(25deg);
    }
}
.im5{
    height: 500px;
}
.star{
    height: 100px;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.texreview{
    width: 30%;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
.view{
    text-align: center;
    font-weight: 600;
}
#homeicon:hover{
    color: red;
}
#offer:hover{
    color: red;
}
#cart:hover{
    color: red;
}
#usericon:hover{
    color: red;
}
@media screen and (max-width:580px)
    {
        .threebar{
            margin-top: -140px;
            margin-left: 310px;
        }
        .navi{
            margin-right: 0px;
        }
    .downlaod{
        flex-wrap: wrap;
    }
    .sbox{
        display: none;
    }
    .footicon {
        width: 100%;
    }
    .banner-bdy{
        width: 90%;
    }
    .banner-head{
        width: 100%;
        font-size: 20px;
        margin-left: 35px;
        margin-top: 30px;
        /* text-align: center; */
    }
    .bdy{
        width: 100%;
        margin-left: 15px;
        text-align: justify;
    }
    .bimg{
        margin-left: -150px;
        margin-top: -50px;
        height: 250px;
        width: 200px;
    }
    .texreview{
        text-align: justify;
        width: 100%;

    }
    .name1{
        margin-left: -10px;
    }
    .name{
        text-align: center;
        margin-left: -60px;
    }
    .star{
        margin-left: -10px;
    }
    .view{
        text-align: justify;
        margin-left: -50px;
    }
    .im5{
        /* width: 390px; */
        width: 100%;
        height: 300px;
    }
    
}
@media screen and (min-width:330px) and (max-width:490px)
{
    
    .p1{
        display: none;
    }
    /* .cart{
        margin-left: -20px;
    }
    .offer{
        margin-left: -20px;
    }
    #usericon{
        margin-left: -20px;
    } */
    .navi{
        width: 100%;
        background-color: black;
    }
    .footicon{
        width: 100%;
    }
    .banner-bdy{
        /* width: 100%; */
        margin-left: 20px;
    }
    .o1,.o2,.o3,.o4{
        margin-left: 35px;
    }
    .packages{
        margin-left: 20px;
    }
    .download{
        margin-left: 10px;
    }
    .blank{
        width: 98%;
        margin-left: 10px;
    }
    .copyright{
        margin-left: 10px;
    }
    .icon-container{
        margin-left: 10px;
    }
}
.link{
    font-weight: 600;
}
.link:hover{
    color: red;
}
.details{
    font-family: 'Exo 2', sans-serif;
}
.ch1{
    font-family: 'Concert One', sans-serif;
}
.rwh{
    font-family: 'Orbitron', sans-serif;
}
.downlaod{
    font-family: 'Orbitron', sans-serif;
}
.link{
    font-family: 'Righteous', sans-serif;
}
.orderbtn{
    font-family: 'Righteous', sans-serif;
}